# Root-level
.env
.DS_Store
node_modules/
dist/
build/
.vscode/
*.log
*.local
*.swp

# Go server (e.g., /server-crawler)
server-crawler/bin/
server-crawler/vendor/
server-crawler/.env
server-crawler/.air.toml
server-crawler/go.sum
server-crawler/go.work
server-crawler/.DS_Store

# Go build outputs
*.exe
*.test
*.out

# IDE settings
.idea/
*.iml

# Vite + React frontend (e.g., /client-crawler)
client-crawler/node_modules/
client-crawler/dist/
client-crawler/.env
client-crawler/.DS_Store
client-crawler/.vitepress/cache/

# OS-specific
Thumbs.db